@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.FotoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeFoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInativacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInativacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FotoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FotoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FotoId })
        </td>
    </tr>
}

</table>
